# <center><font color='RED'>**CAT Reloaded Data Science**</center></font>
<center>```Beginner's task 4 (Pandas Continued)```</center>

# <font color='darkgreen'> **Download Dataset**
### [**survey_results_public_Dataset**](https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2019.zip)

### 1. Show your data after sorting it (descendingly by `Country`) & (ascendingly by `SocialMedia`) :

In [1]:
# sort data here:
import pandas as pd

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [3]:
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [4]:
df.shape

(88883, 85)

In [5]:
sorted_country = df.sort_values(by=['Country'], ascending= False) 
sorted_country.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
69054,69495,"I used to be a developer by profession, but no...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Zimbabwe,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,21.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
51025,51356,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Zimbabwe,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Bisexual,Black or of African descent,NaN,Too long,Neither easy nor difficult
6460,6486,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Zimbabwe,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
1878,1886,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Zimbabwe,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,27.0,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Too long,Easy
55057,55405,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Zimbabwe,"Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,33.0,Man,No,Straight / Heterosexual,Black or of African descent,Yes,Appropriate in length,Neither easy nor difficult

In [6]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [7]:
sotrted_sm = df.sort_values(by=['SocialMedia'] , ascending= True)
sotrted_sm.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
81597,82106,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,Bisexual,South Asian,No,Appropriate in length,Easy
13008,13068,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,52.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
54550,54894,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Poland,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,25.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
71940,72397,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Czech Republic,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,26.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy
28478,28646,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Bulgaria,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,38.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

___________________________________________________________________________________________

### Group the dateframe by `Country` for the following questions:

### 1. Show value counts for `Student` in the `United Kingdom`

#### a. How many are full-time students ?
#### b. How many are not students ?

In [8]:
country_df = df.groupby(by=['Country'])
country_df['Student'].value_counts().loc['United Kingdom']

Student
No                4957
Yes, full-time     556
Yes, part-time     174
Name: count, dtype: int64

### 2. What's the median sallary `ConvertedComp` for developers in `Germany`,  `Italy`, `Finland`

In [9]:
country_df['ConvertedComp'].median().loc[['Germany' , 'Italy' , 'Finland']]

Country
Germany    63016.0
Italy      35518.0
Finland    55569.0
Name: ConvertedComp, dtype: float64

### 3. Show the number of respondents from each country

In [10]:
num_of_respondents=country_df['Respondent'].count()
num_of_respondents

Country
Afghanistan                              44
Albania                                  86
Algeria                                 134
Andorra                                   7
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     88
Viet Nam                                231
Yemen                                    19
Zambia                                   12
Zimbabwe                                 39
Name: Respondent, Length: 179, dtype: int64

### 4. Show the number of respondents that worked with `Android` from each country mentioned in column `PlatformWorkedWith`

In [11]:
number_of_respondents_using_Android=country_df['PlatformWorkedWith'].apply(lambda X:X.str.contains('Android').sum())
number_of_respondents_using_Android

Country
Afghanistan                             16
Albania                                 32
Algeria                                 59
Andorra                                  2
Angola                                   0
                                        ..
Venezuela, Bolivarian Republic of...    27
Viet Nam                                64
Yemen                                    7
Zambia                                   8
Zimbabwe                                20
Name: PlatformWorkedWith, Length: 179, dtype: int64

### 5. the function **`pandas.concat()`** to add these two series together in a new DataFrame

In [12]:
new_num_of_respondents= pd.concat([num_of_respondents, number_of_respondents_using_Android],axis=1,ignore_index=True)

In [13]:
new_num_of_respondents = pd.DataFrame(new_num_of_respondents)
new_num_of_respondents.columns = [['num_of_respondents','number_of_respondents_using_Android']]

In [14]:
new_num_of_respondents.head(5)

            num_of_respondents number_of_respondents_using_Android
Country
Afghanistan                 44                                  16
Albania                     86                                  32
Algeria                    134                                  59
Andorra                      7                                   2
Angola                       5                                   0

### 6. Add a new column contains the percentage of people that worked with `Android` from each country

In [15]:
number_of_respondents_all_plats=country_df['PlatformWorkedWith'].count()
number_of_respondents_all_plats

Country
Afghanistan                              31
Albania                                  78
Algeria                                 111
Andorra                                   6
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     81
Viet Nam                                203
Yemen                                    17
Zambia                                   12
Zimbabwe                                 37
Name: PlatformWorkedWith, Length: 179, dtype: int64

In [16]:
number_of_respondents_using_Android=country_df['PlatformWorkedWith'].apply(lambda X:X.str.contains('Android').sum())
number_of_respondents_using_Android

Country
Afghanistan                             16
Albania                                 32
Algeria                                 59
Andorra                                  2
Angola                                   0
                                        ..
Venezuela, Bolivarian Republic of...    27
Viet Nam                                64
Yemen                                    7
Zambia                                   8
Zimbabwe                                20
Name: PlatformWorkedWith, Length: 179, dtype: int64

In [17]:
percentage_of_Android = round(((number_of_respondents_using_Android)/(number_of_respondents_all_plats))*100,2)

In [18]:
percentage_of_Android

Country
Afghanistan                             51.61
Albania                                 41.03
Algeria                                 53.15
Andorra                                 33.33
Angola                                   0.00
                                        ...
Venezuela, Bolivarian Republic of...    33.33
Viet Nam                                31.53
Yemen                                   41.18
Zambia                                  66.67
Zimbabwe                                54.05
Name: PlatformWorkedWith, Length: 179, dtype: float64

In [19]:
new_num_of_respondents['percentage_of_Android'] = percentage_of_Android

In [20]:
new_num_of_respondents.head(5)

,num_of_respondents,number_of_respondents_using_Android,percentage_of_Android
Country,,,
Afghanistan,44,16,51.61
Albania,86,32,41.03
Algeria,134,59,53.15
Andorra,7,2,33.33
Angola,5,0,0.00

### 7. Tell the difference between the following two cells:
> **`hint`**: what does each cell do

In [21]:
sorted_data = df[["Country" , "ConvertedComp"]].sort_values(by=["Country" , "ConvertedComp"], ascending = [True,False])
sorted_data.head(50)

           Country  ConvertedComp
62723  Afghanistan      1000000.0
50172  Afghanistan       153216.0
39018  Afghanistan        19152.0
58082  Afghanistan        17556.0
7056   Afghanistan        14364.0
22327  Afghanistan         7980.0
48122  Afghanistan         4464.0
10697  Afghanistan         3996.0
8112   Afghanistan         1596.0
29560  Afghanistan         1116.0
719    Afghanistan            0.0
28470  Afghanistan            0.0
6391   Afghanistan            NaN
7323   Afghanistan            NaN
12253  Afghanistan            NaN
26189  Afghanistan            NaN
28877  Afghanistan            NaN
32971  Afghanistan            NaN
37571  Afghanistan            NaN
39754  Afghanistan            NaN
42832  Afghanistan            NaN
44123  Afghanistan            NaN
45562  Afghanistan            NaN
46807  Afghanistan            NaN
49377  Afghanistan            NaN
50437  Afghanistan            NaN
51525  Afghanistan            NaN
58390  Afghanistan            NaN
59184  Afghanistan            NaN
60185  Afghanistan            NaN
60559  Afghanistan            NaN
61770  Afghanistan            NaN
62124  Afghanistan            NaN
73920  Afghanistan            NaN
80423  Afghanistan            NaN
85185  Afghanistan            NaN
85293  Afghanistan            NaN
85827  Afghanistan            NaN
86394  Afghanistan            NaN
86551  Afghanistan            NaN
88033  Afghanistan            NaN
88181  Afghanistan            NaN
88340  Afghanistan            NaN
88735  Afghanistan            NaN
38075      Albania       187668.0
3771       Albania       114550.0
9230       Albania        74474.0
6688       Albania        60000.0
10257      Albania        57300.0
65859      Albania        41244.0

In [22]:
grouped_data = df[["Country" , "ConvertedComp"]].groupby('Country').agg({"ConvertedComp":"median"})
grouped_data.head(50)

                                       ConvertedComp
Country
Afghanistan                                   6222.0
Albania                                      10818.0
Algeria                                       7878.0
Andorra                                     160931.0
Angola                                        7764.0
Antigua and Barbuda                              NaN
Argentina                                    17760.0
Armenia                                      19692.0
Australia                                    79783.0
Austria                                      51559.0
Azerbaijan                                   15858.0
Bahamas                                          NaN
Bahrain                                      15912.0
Bangladesh                                    8764.0
Barbados                                     21000.0
Belarus                                      24000.0
Belgium                                      48120.0
Belize                                           NaN
Benin                                            NaN
Bhutan                                           NaN
Bolivia                                      13020.0
Bosnia and Herzegovina                       18360.0
Botswana                                     38410.0
Brazil                                       18036.0
Brunei Darussalam                             6096.0
Bulgaria                                     28080.0
Burkina Faso                                  8388.0
Burundi                                       3606.0
Cambodia                                     10420.0
Cameroon                                      6288.0
Canada                                       68705.0
Cape Verde                                       NaN
Chad                                          6288.0
Chile                                        27528.0
China                                        28464.0
Colombia                                     15528.0
Congo, Republic of the...                    18000.0
Costa Rica                                   38400.0
Croatia                                      24108.0
Cuba                                          3666.0
Cyprus                                       38496.0
Czech Republic                               35637.0
Côte d'Ivoire                                12576.0
Democratic People's Republic of Korea        32880.0
Democratic Republic of the Congo            110484.0
Denmark                                      82860.0
Djibouti                                     18876.0
Dominica                                         NaN
Dominican Republic                           16667.0
Ecuador                                      21800.0

In [23]:
# Tell the difference here:

### 1. remove nan values

In [24]:
#write code
df=df.dropna()

### 2. make sure there is not nan values

In [25]:
df.isna().sum()

Respondent      0
MainBranch      0
Hobbyist        0
OpenSourcer     0
OpenSource      0
               ..
Sexuality       0
Ethnicity       0
Dependents      0
SurveyLength    0
SurveyEase      0
Length: 85, dtype: int64

In [26]:
for col in df.columns:
    assert df[col].isna().sum() == 0

### 3. clean `Age` Column
> **`hint:`** use .unique() and .replace()

In [27]:
# write code

df['Age'].unique()

array([38. , 42. , 43. , 22. , 29. , 30. , 32. , 23. , 24. , 41. , 37. ,
       40. , 34. , 49. , 31. , 21. , 27. , 26. , 25. , 35. , 39. , 20. ,
       28. , 33. , 52. , 45. , 36. , 44. , 53. , 47. , 54. , 56. , 19. ,
       48. , 46. , 57. , 51. , 50. , 63. , 55. , 58. , 23.5, 64. , 59. ,
       62. , 17. ])

In [28]:
df['Age'].info()

<class 'pandas.core.series.Series'>
Index: 3475 entries, 19 to 88325
Series name: Age
Non-Null Count  Dtype
--------------  -----
3475 non-null   float64
dtypes: float64(1)
memory usage: 54.3 KB

In [29]:
df['Age'] = df['Age'].astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_11784\4210971486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].astype(int)

In [30]:
df['Age'].info()

<class 'pandas.core.series.Series'>
Index: 3475 entries, 19 to 88325
Series name: Age
Non-Null Count  Dtype
--------------  -----
3475 non-null   int32
dtypes: int32(1)
memory usage: 40.7 KB

In [31]:
df['Age'].value_counts()

Age
28    281
26    271
25    266
27    233
29    221
30    207
24    198
32    165
31    164
23    153
33    147
34    142
35    119
36    108
37    105
22    103
38     80
39     71
21     60
40     58
42     48
41     47
44     35
43     32
45     22
49     16
48     15
46     15
20     14
50     13
52     12
47     11
19     10
53      6
54      5
51      5
55      5
57      3
58      2
56      2
63      1
64      1
59      1
62      1
17      1
Name: count, dtype: int64

### 4. Save your dataFrame into `xlsx` file and name it `My_excel_file` (search for that):

In [36]:
df.to_excel('My_excel_file.xlsx', index=False)

_________________________________________________________

### 3. Save your dataFrame into `csv` file and name it `My_csv_file` (search for that):

In [ ]:
# save data into .csv
df.to_csv('MY_csv_file')